[packages]
geocoder = "*"

# alpine provides pre-built wheels for these
Authlib = "==0.15.5"
boto3 = "==1.18.49"
botocore = "==1.21.49"
cryptography = "==3.3.2"
Flask = "==2.0.2"
Flask-Babel = "==2.0.0"
itsdangerous = "==2.0.1"
pycryptodomex = "==3.10.1"
requests = "==2.26.0"

# for faster builds, pin these versions in sync with images
# instantlinux/python-builder and instantlinux/python-uwsgi
alembic = "*"
b2sdk = "*"
cachetools = "*"
celery = "*"
connexion = "*"
"connexion[swagger-ui]" = "==2.7.0"
dollar-ref = "*"
Flask-Cors = "*"
# GeoAlchemy2 = "*"
greenlet = "==1.1.2"
ldap3 = "*"
passlib = "*"
PyJWT = "*"
PyMySQL = "*"
pyotp = "*"
pytz = "*"
# fakeredis doesn't handle newest redis
redis = "<4.1.0"
# Held back due to SAWarnings about many-to-many tables
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
urllib3 = "*"
# Held back due to
# AttributeError: 'LocalStack' object has no attribute '__ident_func__'
werkzeug = "==2.0.2"
# Held back due to
# AttributeError: module 'jinja2.ext' has no attribute 'autoescape'
jinja2 = "==3.0.3"

# Transitive dependencies pinned to versions of python-wsgi base image
arrow = "==1.2.2"
cffi = "==1.14.5"
six = "==1.16.0"

[dev-packages]
coverage = "==6.3.3"
fakeredis = "*"
flake8 = "==4.0.1"
httpretty = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
twine = "*"
wheel = "*"
