[packages]
geocoder = "*"

# alpine provides pre-built wheels for these
boto3 = "==1.17.93"
botocore = "==1.20.93"
cryptography = "==3.3.2"
Flask = "==2.0.1"
Flask-Babel = "==2.0.0"
itsdangerous = "==2.0.1"
pycryptodomex = "==3.10.1"
requests = "==2.25.1"

# for faster builds, pin these versions in sync with images
# instantlinux/python-builder and instantlinux/python-uwsgi
alembic = "*"
Authlib = "*"
b2sdk = "*"
cachetools = "*"
celery = "*"
connexion = "*"
"connexion[swagger-ui]" = "==2.7.0"
dollar-ref = "*"
Flask-Cors = "*"
# GeoAlchemy2 = "*"
greenlet = "==1.0.0"
ldap3 = "*"
passlib = "*"
PyJWT = "*"
PyMySQL = "*"
pyotp = "*"
pytz = "*"
redis = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
urllib3 = "*"

# Transitive dependencies pinned to versions of python-wsgi base image
arrow = "==0.17.0"
cffi = "==1.14.5"
six = "==1.15.0"

[dev-packages]
coverage = "==5.5"
fakeredis = "*"
flake8 = "==3.9.2"
httpretty = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
twine = "*"
wheel = "*"
