coverage==5.3.1
fakeredis==1.4.5
flake8==3.8.4
pytest==6.2.1
pytest-cov==2.10.1
twine==3.3.0
wheel==0.36.2

# transitive requirements
Pygments==2.7.3
SecretStorage==3.3.0
bleach==3.3.0
jeepney==0.6.0
keyring==21.4.0
mccabe==0.6.1
more-itertools==8.6.0
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
readme-renderer==26.0
requests-toolbelt==0.9.1
six==1.15.0
sortedcontainers==2.2.2
wcwidth==0.2.5
webencodings==0.5.1
