coverage==5.3
fakeredis==1.4.3
flake8==3.8.3
mock==4.0.2
pytest==6.0.2
pytest-cov==2.10.1
twine==3.2.0
wheel==0.35.1

# transitive requirements
Pygments==2.7.1
SecretStorage==3.1.2
bleach==3.2.1
jeepney==0.4.3
keyring==21.4.0
mccabe==0.6.1
more-itertools==8.5.0
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
readme-renderer==26.0
requests-toolbelt==0.9.1
six==1.15.0
sortedcontainers==2.2.2
wcwidth==0.2.5
webencodings==0.5.1
