coverage==5.4
fakeredis==1.4.5
flake8==3.8.4
pytest==6.2.2
pytest-cov==2.11.1
twine==3.3.0
wheel==0.36.2

# transitive requirements
Pygments==2.7.4
SecretStorage==3.3.0
bleach==3.3.0
jeepney==0.6.0
keyring==22.0.1
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
readme-renderer==28.0
requests-toolbelt==0.9.1
six==1.15.0
sortedcontainers==2.3.0
wcwidth==0.2.5
webencodings==0.5.1
