{% if selector == 'subject' -%}
{{ _('Password reset request for') }} {{ appname }}
{% elif selector == 'html' -%}
<!DOCTYPE HTML PUBLIC “-//W3C//DTD HTML 3.2//EN”>
<html>
  {{ _('We received a request to reset your password for') }} {{ siteurl }}.
  {{ _('Go to') }}
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr><td><table cellspacing="0" cellpadding="0">
      <tr><td style="border-radius: 2px;" bgcolor="#43BBC1">
	  <a href="{{ siteurl }}/#/confirm?token={{ token }}"
	  target="_blank" style="padding: 8px 12px; border: 1px solid
	  #43BBC1;border-radius: 2px;font-family: Helvetica, Arial,
	  sans-serif;font-size: 14px; color: #ffffff;text-decoration:
	  none;font-weight:bold;display: inline-block;">
	  {{ _('Set your password') }}</a>
      </td></tr>
    </table></td></tr>
  </table>
  {{ _("Ignore this message if you don't wish to receive further correspondence.") }}
{% elif selector == 'email' -%}
{{ _('We received a request to reset your password for') }} {{ siteurl }}. {{ _('Go to') }}
{{ siteurl }}/#/confirm?token={{ token }}.

{{ _("Ignore this message if you don't wish to receive further correspondence.") }}
{% elif selector == 'sms' -%}
{{ _('See %(siteurl)s/#/confirm?token=%(token)s to confirm request by')|
  format(siteurl=siteurl, token=token) }} {{ sender }}
{% endif -%}
